
.main-content{
  background: #fff;
}
.topbar {
  height: 50px;
  background: #131418;
  margin-bottom: 20px;
}
.nav-region {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  .logo {
    height: 24px;
    width: 28px;
    float: left;
    margin-top: 14px;
    margin-left: -50px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("/assets/images/logo.png") no-repeat;
    }
  }
  .title-style {
    float: left;
    height: 50px;
    width: 220px;
    margin-left: -16px;
    h3 {
      font-size:18px;
      font-weight: normal;
      line-height: 12px;
      color: #fff;
    }
  }
}



.data-content{
  width: 1000px;
  margin: 0 auto;
}

.data-content{
  h1{
    color: #666666;
    font-weight: bold;
    font-size: 28px;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
  }

  .title-cont{
    font-size: 22px;
    font-weight: normal;
    color: #bbb;
    line-height: 32px;
  }
  .title-small{
    font-size: 20px;
  }
  p{
    font-size: 16px;
    line-height: 32px;
  }
}


.btn-default{
  margin-left: 0;
  width: 80px;
  height: 22px;
  line-height: 8px;
  font-size: 12px;
}

.btn-apply{
  width: 100%;
  height:40px;
  line-height: 32px;
  color: #ffffff;
  font-size:16px;
  margin: 10px auto 0;
  letter-spacing: 5px;
  background: #d6290e;
  border: none;
  font-weight: normal;
}


.panel-default {
  .panel-heading{
    background: #0A77BD;
    a{
      color: #fff;
    }
  }
  .panel-body{
    padding: 0;
    .nav-stacked{
      li{
        border:1px solid #ccc;
      }
      img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}


.view-header {
  margin-top: 9%;
  h3{
    color: #c9c9c9;
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .search-cont{
    h4{
      font-size: 14px;
      font-weight: bold;
    }
    input{
      width: 100%;
      padding-left: 10px;
      line-height: 30px;
    }
    select{
      height: 34px;
    }
  }
}

.view-cont{
  margin-top: 30px;
}
.view-list{
  margin-top: 40px;
  dl{
    display: -webkit-flex;
    dt{
      width: 60px;
      height: 40px;
      margin-right: 20px;
      img{
        //width: 100%;
        height: 100%;
      }
    }
    dd{
      h3{
        color:#0977bc;
        margin-top: 10px;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .jibing{
        font-size: 13px;
        color: #999;
        img{
          width: 15px;
          height: 15px;
          margin-right: 10px;
        }
      }
      .lianmeng{
        line-height: 28px;
        font-size: 15px;
      }
      .tag-list{
        a{
          font-size: 12px;
          float: left;
          padding: 0 5px;
          height: 20px;
          line-height: 20px;
          color: #fff;
          text-align: center;
          margin-right: 10px;
          border-radius: 3px;
          &:nth-of-type(1){
            background: #dfb002;
          }
          &:nth-of-type(2){
            background: #0b4598;
          }
          &:nth-of-type(3){
            background: #ef7100;
          }
          &:nth-of-type(4){
            background: #74caec;
          }
        }
      }
    }
  }
}


.modal-dialog__header .title {
  font-size: 16px;
  line-height: 40px;
  color: #4a4a4a;
  margin: 0;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}
.modal-dialog__header .close {
  float: right;
  color: #4a4a4a;
  font-weight: bold;
  background: none;
  border: none;
  margin: 0;
  padding: 10px;
  outline: none;
}
.modal-dialog__header .close:hover {
  cursor: pointer;
  opacity: 0.7;
}

.form-control{
  tbody{
    border:1px solid #ccc;
    tr{
      border-bottom: 1px solid #ccc;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
