


.topbar {
  height: 50px;
  background: #131418;
  margin-bottom: 20px;
}
.nav-region {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  .logo {
    height: 24px;
    width: 28px;
    float: left;
    margin-top: 14px;
    margin-left: -50px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("/assets/images/logo.png") no-repeat;
    }
  }
  .title-style {
    float: left;
    height: 50px;
    width: 220px;
    margin-left: -16px;
    h3 {
      font-size:18px;
      font-weight: normal;
      line-height: 12px;
      color: #fff;
    }
  }
}


.data-content{
  background: #fff;
  width: 1000px;
  margin: 0 auto;
  h4{
    color: #666666;
    font-weight: bold;
    font-size:16px;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
  }
  .show-yao{
    margin-top: -10px;
    height:386px;
    border-bottom: 1px solid #ccc;
    .show-echart{
      margin: 0;
      padding: 0;
      width: 32%;
      height: 386px;
      float: left;
      margin-right: 1%;
      border-right: 1px solid #ccc;
      &:nth-of-type(3){
        border-right: none;
      }
    }
  }

}

.data-preview{
  height:220px;
  width:90%;
  margin: 20px auto;
  h5{
    color: #666;
    line-height: 36px;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
}
.table-data{
  width:100%;
  border:1px solid #ccc;
  th,td{
    float: left;
    line-height:36px;
    width:14.28%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
}
.table-header{
  color: #333;
  background: #d5e6f1;
}
.table-cont {
  border-bottom: 1px solid #d5e6f1;

  td{
    &:hover{
      cursor: pointer;
    }
  }
}
.tijiao{
  border: none;
  width: 130px;
  line-height: 28px;
  border-radius: 5px;
  margin: 20px 0 30px 45%;
  outline: none;
}

