
<app-layout-header></app-layout-header>


<div class="main-content">
  <div class="topbar">
    <div class="nav-region">
      <app-nav-bar [type]="4"></app-nav-bar>
    </div>
  </div>

  <div class="data-content">
    <h1>反馈</h1>
    <div class="show-yao">
        <dl>
          <dt><img src="/assets/images/lainuo.png"></dt>
          <dd>
            <h4>赖诺普利</h4>
            <p>可以单用或与其他药物合用治疗各种程度的高血压病和肾性高血压的药物，也可单用或与利尿药和洋地黄合用治疗充血性心力衰竭。</p>
            <button class="btn-primary" (click)="gotoExtraction()">申请读取数据</button>
          </dd>
        </dl>
        <dl>
          <dt><img src="/assets/images/lainuo.png"></dt>
          <dd>
            <h4>赖诺普利</h4>
            <p>可以单用或与其他药物合用治疗各种程度的高血压病和肾性高血压的药物，也可单用或与利尿药和洋地黄合用治疗充血性心力衰竭。</p>
            <button class="btn-primary" (click)="gotoExtraction()">申请读取数据</button>
          </dd>
        </dl>
        <dl>
          <dt><img src="/assets/images/lainuo.png"></dt>
          <dd>
            <h4>赖诺普利</h4>
            <p>可以单用或与其他药物合用治疗各种程度的高血压病和肾性高血压的药物，也可单用或与利尿药和洋地黄合用治疗充血性心力衰竭。</p>
            <button class="btn-primary" (click)="gotoExtraction()">申请读取数据</button>
          </dd>
        </dl>
      </div>
    <div class="show-yao">
        <dl>
          <dt><img src="/assets/images/lainuo.png"></dt>
          <dd>
            <h4>赖诺普利</h4>
            <p>可以单用或与其他药物合用治疗各种程度的高血压病和肾性高血压的药物，也可单用或与利尿药和洋地黄合用治疗充血性心力衰竭。</p>
            <button class="btn-primary" (click)="gotoExtraction()">申请读取数据</button>
          </dd>
        </dl>
        <dl>
          <dt><img src="/assets/images/lainuo.png"></dt>
          <dd>
            <h4>赖诺普利</h4>
            <p>可以单用或与其他药物合用治疗各种程度的高血压病和肾性高血压的药物，也可单用或与利尿药和洋地黄合用治疗充血性心力衰竭。</p>
            <button class="btn-primary" (click)="gotoExtraction()">申请读取数据</button>
          </dd>
        </dl>
        <dl>
          <dt><img src="/assets/images/lainuo.png"></dt>
          <dd>
            <h4>赖诺普利</h4>
            <p>可以单用或与其他药物合用治疗各种程度的高血压病和肾性高血压的药物，也可单用或与利尿药和洋地黄合用治疗充血性心力衰竭。</p>
            <button class="btn-primary" (click)="gotoExtraction()">申请读取数据</button>
          </dd>
        </dl>
      </div>
    <div class="show-yao">
        <dl>
          <dt><img src="/assets/images/lainuo.png"></dt>
          <dd>
            <h4>赖诺普利</h4>
            <p>可以单用或与其他药物合用治疗各种程度的高血压病和肾性高血压的药物，也可单用或与利尿药和洋地黄合用治疗充血性心力衰竭。</p>
            <button class="btn-primary" (click)="gotoExtraction()">申请读取数据</button>
          </dd>
        </dl>
        <dl>
          <dt><img src="/assets/images/lainuo.png"></dt>
          <dd>
            <h4>赖诺普利</h4>
            <p>可以单用或与其他药物合用治疗各种程度的高血压病和肾性高血压的药物，也可单用或与利尿药和洋地黄合用治疗充血性心力衰竭。</p>
            <button class="btn-primary" (click)="gotoExtraction()">申请读取数据</button>
          </dd>
        </dl>

      </div>

  </div>

  <div style="height: 60px"></div>
</div>


<app-layout-footer></app-layout-footer>
