


.topbar {
  height: 50px;
  background: #131418;
  margin-bottom: 20px;
}
.nav-region {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  .logo {
    height: 24px;
    width: 28px;
    float: left;
    margin-top: 14px;
    margin-left: -50px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("/assets/images/logo.png") no-repeat;
    }
  }
  .title-style {
    float: left;
    height: 50px;
    width: 220px;
    margin-left: -16px;
    h3 {
      font-size:18px;
      font-weight: normal;
      line-height: 12px;
      color: #fff;
    }
  }
}


.data-content{
  background: #fff;
  width: 1000px;
  margin: 0 auto;
  h1{
    color: #666666;
    font-weight: bold;
    font-size: 28px;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
  }
.show-yao{
  height:386px;
  border-bottom: 1px solid #ccc;
  dl{
    margin: 0;
    padding: 0;
    width: 32%;
    height: 386px;
    float: left;
    margin-right: 1%;
    border-right: 1px solid #ccc;
    &:nth-of-type(3){
      border-right: none;
    }
    dt{
      width: 197px;
      height: 197px;
      margin: 0 auto;
      img{
        width: 100%;
        height: 100%;
      }
    }
    dd{
      padding: 20px;
      h4{
        font-weight: bold;
      }
      p{
        color: #999;
      }
      button{
        border: none;
        border-radius: 3px;
        outline: none;
      }
    }
  }
}

}



