
  section {
    margin: 0;
    padding: 0;
    .topbar {
      height: 30px;
      background: #292B2F;
      h6{
        float: left;
        color: #fff;
        padding-left: 20px;
        line-height: 12px
      }
    }

    .nav-select {
      display: none;
    }
    .nav-region {
      position: absolute;
      right:100px;
      .nav {
        .nav-item {
          height:20px;
          line-height: 12px;
          a{
            font-weight: normal;
            color: #fff;
            font-size: 12px;
          }
          a:hover{
            background: none;
            font-weight: bold;
          }
        }
      }
    }

    .status-area {
      display: inline-block;
      float: right;
      margin-right: 38px;
      line-height: 30px;
      .color-white{
        cursor: pointer;
        color: #fff;
        font-size: 12px;
      }
    }
  }
