
  .header{
    margin: 0;
    padding: 0;
    height:134px;
    position: relative;
    z-index: 1000;
    background: url("/assets/images/login-top-repeat.jpg") repeat-x;
    background-size:100% 100%;
  }

  .header-left{
    position: absolute;
    left:0;
    top:0;
    z-index: 10000;
    width:710px;
    height:134px;
    background: url("/assets/images/login-top-left.jpg") no-repeat left;
    background-size:100% 100%;
  }

  .header-right{
    position: absolute;
    right:0;
    top:0;
    z-index: 9999;
    width:560px;
    height: 134px;
    background: url("/assets/images/login-top-right.jpg") no-repeat right;
    background-size:100% 100%;
  }


