<app-header></app-header>

<div class="platform-nav">
  <h5>平台导航／我的订单</h5>
</div>

<div class="data-content">
  <div class="home-content">
    <div class="list-right">
      <ul>
        <li style="color: #333">全部订单</li>
        <li>已支付</li>
        <li>未支付</li>
        <li>已取消</li>
      </ul>
      <table class="table-data">
        <thead class="table-nav">
        <tr class="table-header">
          <th width="10%">订单编号</th>
          <th width="25%">产品</th>
          <th width="12.5%">创建时间</th>
          <th width="12.5%">支付时间</th>
          <th width="10%">状态</th>
          <th width="10%">应付金额</th>
          <th width="20%">操作</th>
        </tr>
        </thead>
        <tbody class="table-nav">
          <tr class="table-cont">
            <td width="10%">D1234567Y12345</td>
            <td width="25%">数据名称数据名称</td>
            <td width="12.5%">2017-11-20 15:34:03</td>
            <td width="12.5%">2017-11-20 15:34:03</td>
            <td width="10%" style="color: #ddd">已取消</td>
            <td width="10%"><b>¥3998</b></td>
            <td width="20%"><span>取消</span><span>删除</span><span>详情</span></td>
          </tr>
          <tr class="table-cont">
            <td width="10%">D1234567Y12345</td>
            <td width="25%">数据名称数据名称</td>
            <td width="12.5%">2017-11-20 15:34:03</td>
            <td width="12.5%">2017-11-20 15:34:03</td>
            <td width="10%" style="color: red">未支付</td>
            <td width="10%"><b>¥3998</b></td>
            <td width="20%"><span>取消</span><span>删除</span><span>详情</span></td>
          </tr>
          <tr class="table-cont">
            <td width="10%">D1234567Y12345</td>
            <td width="25%">数据名称数据名称</td>
            <td width="12.5%">2017-11-20 15:34:03</td>
            <td width="12.5%">2017-11-20 15:34:03</td>
            <td width="10%" style="color: #06B811">已支付</td>
            <td width="10%"><b>¥3998</b></td>
            <td width="20%"><span>取消</span><span>删除</span><span>详情</span></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>

<app-footer></app-footer>





