.platform-nav{
  margin-top: -10px;
  width: 100%;
  height: 44px;
  background: #f5f5f5;

  h5{
    line-height: 44px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: normal;
  }
}
.data-content{
  background: #E8F5FF;
  height:1030px;
  border-top:2px solid #B0C6D7;
}
.home-content{
  width: 90%;
  margin: 20px auto;
  background: #fff;
  height: 700px;
}

.list-right{
  h4{
    margin: 0;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    font-weight: normal;
  }
  .all-status{
    list-style: none;
    li{
      float: left;
      padding-right: 20px;
      line-height: 50px;
      color: #0098F6;
      font-size: 16px;
    }
  }
}
.table-data{
  width:98%;
  margin: 20px auto 0;
  border:1px solid #ccc;
  th,td{
    float: left;
    line-height:50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
}
.table-header{
  color: #333;
  background: #eee;
  border-bottom: 1px solid #ccc;
}
.table-cont {
  border-bottom: 1px solid #d5e6f1;
  td{
    b{
      color: red;
    }
    span{
      padding-right: 10px;
      color: #0098F6;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

.pack-details {
  .pack-pay{
    list-style: none;
    color:#666;
    line-height: 20px;
  }
  .pack-list{
    padding-left: 4%;
  }
}
