


.topbar {
  height: 50px;
  background: #131418;
  margin-bottom: 20px;
}
.nav-region {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  .logo {
    height: 24px;
    width: 28px;
    float: left;
    margin-top: 14px;
    margin-left: -50px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("/assets/images/logo.png") no-repeat;
    }
  }
  .title-style {
    float: left;
    height: 50px;
    width: 220px;
    margin-left: -16px;
    h3 {
      font-size:18px;
      font-weight: normal;
      line-height: 12px;
      color: #fff;
    }
  }
}


.data-content{
  background: #fff;
  width: 1000px;
  margin: 0 auto;
  h4{
    color: #666666;
    font-weight: bold;
    font-size:16px;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
  }
  .data-message {
    width: 100%;
    h5{
      margin-left: 22px;
      font-size: 16px;
    }
    form {
      border-bottom: 1px solid #ccc;
    }
      p{
        line-height: 28px;
        label{
          width: 100px;
          text-align: right;
          font-size: 13px;
          padding-right: 20px;
          font-weight: normal;
        }
        select{
          width: 300px;
          height: 30px;
        }
      }
    }
    .user-message {
      margin-top: 20px;
      input{
        width: 300px;
        height: 30px;
        border-radius: 3px;
        padding-left: 6px;
        border:1px solid #ccc;
      }
    }
   .tijiao{
     border: none;
     width: 100px;
     line-height: 28px;
     border-radius: 5px;
     margin: 20px 0 30px 29%;
   }

}



