<app-header></app-header>

<div class="platform-nav">
  <h5>平台导航／医学影像</h5>
</div>

<div class="container-fluid data-content">

  <div class="row home-content">

    <div class="col-lg-2 col-md-2 col-sm-2 "></div>
    <div class="col-lg-8 col-md-8 col-sm-8 list-left">
      <h2>
        <img src="/assets/images/Bitmap.png" alt="">
        医学影像查询
      </h2>
      <input type="text" placeholder="请输入患者身份证号">
      <div class="put-apply">
        <button id="btn-apply" type="button" class="btn btn-primary btn-apply" (click)="gotoMyMedical()">申请</button>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2"></div>

  </div>

</div>

<app-footer></app-footer>

