
.main-content{

}
a:hover{
  font-size: 15px;
}

.topbar {
  height: 50px;
  background: #131418;
  margin-bottom: 20px;
}
.nav-region {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  .logo {
    height: 24px;
    width: 28px;
    float: left;
    margin-top: 14px;
    margin-left: -50px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("/assets/images/logo.png") no-repeat;
    }
  }
  .title-style {
    float: left;
    height: 50px;
    width: 220px;
    margin-left: -16px;
    h3 {
      font-size:18px;
      font-weight: normal;
      line-height: 12px;
      color: #fff;
    }
  }
}



.data-content{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  background: #fff;
  width: 1000px;
  margin: 0 auto;
  height: 785px;
  h1{
    padding: 20px;
  }
  .data-desc{
    list-style: none;
    padding-left:20px;
    height: 32px;
    li{
      float: left;
      padding-right: 25px;
      color:#666;
      line-height: 32px;
    }
  }
}
.table-list{
  width: 96%;
  margin: 0 auto;
}

:host /deep/ .widgets {
  .smart-table-container {
    width: 100%;
  }
}

:host /deep/ {
  ng2-smart-table {
    th, td {
      border: 1px solid #ccc;
      line-height: 35px;
      vertical-align: middle;
    }

    table tr td {
      padding: 0 8px;
    }

    color: #333;

    input {
      line-height: 1.5 !important;
    }

    ng2-smart-table-cell {
      color: #333;
      line-height: 35px;
    }

    tbody {
      tr {
        color: #333;
      }
      tr:hover {
        background: rgba(0, 0, 0, 0.03);
      }
    }

    a.ng2-smart-sort-link {
      font-size: 14px !important;
      color: #333;
      font-weight: bolder;
      &.sort {
        font-weight:bolder !important;

        &::after {
          border-bottom-color: #333 !important;
        }
      }
    }

    .ng2-smart-actions {
      width: 70px;
      text-align: center;
      .actions {
        float: none;
        text-align: center;
      }
    }

    .ng2-smart-actions-title-add {
      text-align: center;
    }

    a.ng2-smart-action, .ng2-smart-title {
      font-size: 14px !important;
      color: #333;
      padding: 0 5px;
      display: inline-block;

      &.ng2-smart-action-add-add {
        font-size: 25px !important;
      }
    }

    nav.ng2-smart-pagination-nav {
      display: flex;
      justify-content: center;
    }
  }
}


a.ng2-smart-action-edit-edit, .ng2-smart-action-add-create{
  padding-right: 25%;
}




