
<app-layout-header></app-layout-header>


<div class="main-content">
  <div class="topbar">
    <div class="nav-region">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/#/home" class="nav-link" routerLinkActive="active">
            首页
          </a>
        </li>

        <li class="nav-item">
          <a href="/#/enterprise" class="nav-link">
            企业服务
          </a>
        </li>
        <li class="nav-item">
          <a href="/#/discounts-government" class="nav-link" routerLinkActive="active">
            政府服务
          </a>
        </li>

        <li class="nav-item">
          <a href="/#/discounts-people" class="nav-link" routerLinkActive="active">
            个人服务
          </a>
        </li>
        <li class="nav-item">
          <a href="/#/discounts-company" class="nav-link" routerLinkActive="active">
            科研服务
          </a>
        </li>
        <li class="nav-item">
          <a href="/#/cloud" class="nav-link" routerLinkActive="active">
            云服务
          </a>
        </li>
        <li class="nav-item">
          <a href="/#/security" class="nav-link" routerLinkActive="active">
            安全服务
          </a>
        </li>
      </ul>

      <app-user-state></app-user-state>
    </div>
  </div>

  <div class="data-content">

    <div class="adhibition">
      <h5>数据处理,医学文本数据处理应用流程</h5>
      <div class="hospital">
        <div class="scale">
          <dl>
            <dt><img src="/assets/images/jilu.png" alt=""></dt>
            <dd>
              <h4>住院、门诊记录</h4>
              <p class="content">
                抽取福州市第一医院等7家医院3000+万条住院、门诊记录。             </p>
            </dd>
          </dl>
        </div>
        <div class="scale">
          <dl>
            <dt><img src="/assets/images/pinggu.png" alt=""></dt>
            <dd>
              <h4>数据评估、治理</h4>
              <p class="content">
                利用国际先进的数据治理流程与完善的医学逻辑对数据进行评估、清洗、治理。
              </p>
              <a href=" http://www.ohdsi.org/web/achilles/index.html#/Demo_data_1K_synthetic_patients/achillesheel
">进入 ></a>
            </dd>
          </dl>
        </div>
        <div class="scale">
          <dl>
            <dt class="rengong"><img src="/assets/images/rengong.png" alt=""></dt>
            <dd>
              <h4>人工智能数据 标准化、机构化
              </h4>
              <p class="content">
                利用国际先进的数据治理流程与完善的医学逻辑对数据进行评估、清洗、治理。
              </p>
              <a href="https://autofill.synyi.com/">进入 ></a>
            </dd>
          </dl>
        </div>
        <div class="scale">
          <dl>
            <dt><img src="/assets/images/yingyong.png" alt=""></dt>
            <dd>
              <h4>数据应用</h4>
              <p class="content">
                全面打造惠医、惠民、惠政的人工智能大数据应用平台。
              </p>
              <a href="https://fuzhou-demo.synyi.com/index-new">进入 ></a>
            </dd>
          </dl>
        </div>
      </div>

    </div>

  </div>

  <div style="height: 60px"></div>
</div>


<app-layout-footer></app-layout-footer>


