
.main-content{
  background: #fff;
}

.topbar {
  height: 50px;
  background: #131418;
  margin-bottom: 20px;
}
.nav-region {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  .logo {
    height: 24px;
    width: 28px;
    float: left;
    margin-top: 14px;
    margin-left: -50px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("/assets/images/logo.png") no-repeat;
    }
  }
  .title-style {
    float: left;
    height: 50px;
    width: 220px;
    margin-left: -16px;
    h3 {
      font-size:18px;
      font-weight: normal;
      line-height: 12px;
      color: #fff;
    }
  }
}


.data-content{
  width: 1000px;
  margin: 0 auto;
}


.adhibition{
  h5{
    line-height: 40px;
    font-size: 24px;
    color:#d6290e;
    padding-left: 20px;
    font-weight: bold;
  }
  .hospital{
    width: 100%;
    height: 550px;
    display: flex;
    margin-top: 20px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    .scale{
      width: 32%;
      float: left;
      margin-left:1%;
      border: 1px solid #c4d4e2;
      border-radius: 5px;
      background: #f1f9ff;
      h6{
        font-size: 15px;
        font-weight: bold;
        color: #1170c2;
        padding-left: 15px;
        padding-top: 10px
      }
    }
    dl{
      width: 90%;
      margin:20px auto;
      dt{
        width: 100%;
        height: 220px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      dd{

        line-height: 10px;
        padding-top: 6px;
        h4{
          font-size: 14px;
          font-weight: bold;
          color: #333;
        }
        .buttons{
          a{
            border: 1px solid #d9edf7;
            border-radius: 5px;
            width: 73px;
            height: 22px;
            line-height: 20px;
            font-size: 12px;
            display: inline-block;
            text-align: center;
            color: #333;
            margin-right: 10px;
            &:hover{
              background: #51BEDE;
              color: #fff;
            }
          }
        }
        .content{
          line-height: 22px;
          font-size: 12px;
          height:120px;
        }
        b{
          color: red;
        }
      }
    }
  }
}



.btn-apply{
  width: 100%;
  height:36px;
  line-height: 26px;
  color: #ffffff;
  font-size:16px;
  margin: 10px auto 0;
  letter-spacing: 5px;
  background: #d6290e;
  border: none;
  font-weight: normal;
}
