
<app-layout-header></app-layout-header>


<div class="main-content">
  <div class="topbar">
    <div class="nav-region">
      <app-nav-bar [type]="2"></app-nav-bar>
    </div>
  </div>

  <div class="data-content">
    <h1>儿童健康检查记录</h1>

    <div *ngIf="dimoTypes.length !== 0">
      <ng2-smart-table *ngIf="dimoTypes.length !== 0" class='form-control'
                       [settings]="settings" [source]="dimoTypes" style="height: 500px">
      </ng2-smart-table>
    </div>
  </div>

  <div style="height: 60px"></div>
</div>


<app-layout-footer></app-layout-footer>
