.platform-nav{
  margin-top: -10px;
  width: 100%;
  height: 44px;
  background: #f5f5f5;
  h5{
    line-height: 44px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: normal;
  }
}
.data-content{
  width: 100%;
  height:1030px;
  border-top:1px solid #B0C6D7;
}
.home-content{
  width: 100%;
}

.list-left{
  float: left;
  border-right:1px solid #B0C6D7;
  background: #fff;
  width: 30%;
  height:1030px;
  h3{
    margin: 0;
    height: 44px;
    line-height: 44px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: normal;
    background: #E8F5FF;
    border-bottom: 1px solid #B0C6D7;
  }
}

.list-right{
  float: left;
  width: 70%;
  background: #E8F5FF;
  h4{
    margin: 0;
    height: 44px;
    line-height: 44px;
    padding-left: 2%;
    font-size: 14px;
    font-weight: normal;
    background: #E8F5FF;
  }
  .link-message{
    background:#fff;
    width: 96%;
    height: 300px;
    border:1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    border-radius:3px;
    margin:1% 2%;
    textarea{
      line-height: 28px;
      padding-top: 12px;
      width: 100%;
      height: 100%;
    }
  }
}


.project-list{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    line-height: 40px;
    font-size: 13px;
    padding-left: 20px;
    &:hover{
      border:1px solid #AFC6D6;
      border-radius: 5px;
      background: #EAF7FF;
    }
  }
}

.put-apply{
  margin-top: 20px;
  margin-left: 2%;
}
.btn-default{
  margin-right: 30px;
  width: 100px;
  height: 28px;
  line-height: 16px;
}
.btn-apply{
  width: 140px;
  height:30px;
  letter-spacing: 5px;
  background: #4A90E2;
  border: none;
  font-weight: normal;
}

.great-new{
  position: relative;
}
.btn-great{
  position: absolute;
  right:5px;
  top:8px;
}
