.platform-nav{
  margin-top: -10px;
  width: 100%;
  height: 44px;
  background: #f5f5f5;
  border-bottom:1px solid #B0C6D7;
  h5{
    line-height: 44px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: normal;
  }
}
.data-content{
  width: 100%;
  height:1030px;
}
.home-content{
  width: 100%;
}

.list-left{
  float: left;
  border-right:1px solid #B0C6D7;
  background: #fff;
  width: 30%;
  height:1030px;
  h3{
    margin: 0;
    height: 44px;
    line-height: 44px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: normal;
    background: #E8F5FF;
    border-bottom: 1px solid #B0C6D7;
  }
}

.list-right{
  float: left;
  width: 70%;
  background: #E8F5FF;
  h4{
    height: 44px;
    line-height: 44px;
    padding-left: 2%;
    font-size: 14px;
    font-weight: normal;
    background: #fff;
    border:1px solid #AFC6D6;
    width: 96%;
    margin: 2%;
  }
}
.put-apply{
  margin-top: 20px;
  margin-left: 2%;
}

.btn-apply{
  width: 140px;
  height:40px;
  letter-spacing: 5px;
  background: #4A90E2;
  border: none;
  font-weight: normal;
}
.project-list{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    line-height: 40px;
    font-size: 13px;
    padding-left: 20px;
    &:hover{
      border:1px solid #AFC6D6;
      border-radius: 5px;
      background: #EAF7FF;
    }
  }
}

.companys{
  width: 96%;
  margin: 0 auto;
  height: 320px;
  background: #fff;
  border:1px solid #AFC6D6;
}
.company{
  padding:0;
  margin:0;
}
.project-lists{
  list-style: none;
  width: 100%;
  display: flex;
  margin-top: 20px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  a{
    width: 19%;
    margin-left: 2%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.choosed{
  padding-left: 20px;
}
.choose{
  margin-top: 30px;
}
