<app-header></app-header>

<div class="platform-nav">
  <h5>医学影像／肿瘤筛查</h5>
</div>

<div class="data-content">
  <div class="home-content">
    <div class="list-left">
      <h3>项目类别</h3>

      <div>
        <ul class="project-list">
          <li>肿瘤</li>
          <li>肺部疾病</li>
          <li>心脏疾病</li>
          <li>糖尿病</li>
        </ul>
      </div>
    </div>

    <div class="list-left list-right">
      <h4>患者身份证号：138762312234567890</h4>

      <div class="companys">
        <ul class="company">
          <li class="project-lists">
            <a href=""><img src="/assets/images/yingxiang1.png" alt=""></a>
            <a href=""><img src="/assets/images/yingxiang2.png" alt=""></a>
            <a href=""><img src="/assets/images/yingxiang3.png" alt=""></a>
            <a href=""><img src="/assets/images/yingxiang4.png" alt=""></a>
            <a href=""><img src="" alt=""></a>
          </li>
        </ul>
        <div class="put-apply">
          <button type="button" class="btn btn-default" (click)="gotoChoosed()">提交所选</button>
        </div>
      </div>

      <div class="companys choose">
        <h5 class="choosed">已选择的影像</h5>
        <ul class="company">
          <li class="project-lists">
            <a href=""><img src="/assets/images/yingxiang1.png" alt=""></a>
            <a href=""><img src="/assets/images/yingxiang2.png" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
          </li>
        </ul>
      </div>

      <div class="put-apply">
        <button id="btn-apply" type="button" class="btn btn-primary btn-apply" (click)="gotoScreening()">开始肿瘤筛查</button>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>





