
<app-layout-header></app-layout-header>


<div class="main-content">
  <div class="topbar">
    <div class="nav-region">
      <app-nav-bar></app-nav-bar>

      <app-user-state></app-user-state>
    </div>
  </div>

  <div class="data-content">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div style="width: 100%;">
            <div class="panel-group" id="accordion2">
              <div class="panel-heading">
                <strong style="font-size: 24px; color: #666">区域统计图</strong>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  <a class="accordion-toggle">统计图展示</a>
                </div>
                <div id="collapseTwo" class="panel-collapse in" style="height: auto;">
                  <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                      <li [ngStyle]="getStyle(flag01)" (click)="showContent(1)"><a><img src="/assets/home/yuebao.png">月报</a>
                      </li>
                      <li [ngStyle]="getStyle(flag02)" (click)="showContent(2)"><a><img src="/assets/home/gongbao.png">公报</a>
                      </li>
                      <li [ngStyle]="getStyle(flag03)" (click)="showContent(3)"><a><img src="/assets/home/jibao.png">季报</a>
                      </li>
                      <li [ngStyle]="getStyle(flag04)" (click)="showContent(4)"><a><img src="/assets/home/nianbao.png">年报</a>
                      </li>
                      <li [ngStyle]="getStyle(flag05)" (click)="showContent(5)"><a><img
                        src="/assets/home/nianjian.png">统计年鉴</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-9">
          <div class="find-want">
            <p>看不到你要找的东西？</p>
            <p>
              <button class="btn btn-primary">添加反馈</button>
            </p>
          </div>

          <div *ngIf="flag01" class="view-cont">
            <app-show-pie></app-show-pie>
          </div>

          <div *ngIf="flag02" class="view-cont">
            <app-show-line></app-show-line>
          </div>

          <div *ngIf="flag03" class="view-cont">
            <app-show-bar></app-show-bar>
          </div>

          <div *ngIf="flag04" class="view-cont">
            <app-show-chart></app-show-chart>
          </div>

          <div *ngIf="flag05" class="view-cont">
            <app-show-echart></app-show-echart>
          </div>

        </div>


      </div>
    </div>

  </div>

  <div style="height: 60px"></div>
</div>


<app-layout-footer></app-layout-footer>
