
<app-layout-header></app-layout-header>


<div class="main-content">
  <div class="topbar">
    <div class="nav-region">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/#/home" class="nav-link" routerLinkActive="active">
            首页
          </a>
        </li>
        <li class="nav-item">
          <a href="/#/data-set/1"  class="nav-link" routerLinkActive="active">
            数据集
          </a>
        </li>

        <li class="nav-item">
          <a href="/#/discounts-government" class="nav-link" routerLinkActive="active">
            机构
          </a>
        </li>
        <li class="nav-item">
          <a href="/#/discounts-people" class="nav-link" routerLinkActive="active">
            反馈
          </a>
        </li>
        <li class="nav-item dropdown">
          <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" routerLinkActive="active">
            开发商
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/#/data-api">数据API</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="/#/enterprise" class="nav-link dropdown-toggle" data-toggle="dropdown">
            主题
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="showContent(1)"><img src="/assets/home/zhengfu.png">政府</a></li>
            <li><a (click)="showContent(2)"><img src="/assets/home/baoxian.png">保险</a></li>
            <li><a (click)="showContent(3)"><img src="/assets/home/yaoqi.png">药企</a></li>
            <li><a (click)="showContent(4)"><img src="/assets/home/jishu.png">技术</a></li>
            <li><a (click)="showContent(5)"><img src="/assets/home/safe.png">安全</a></li>
            <li><a (click)="showContent(6)"><img src="/assets/home/rengong.png">AI</a></li>
            <li><a (click)="showContent(7)"><img src="/assets/home/yiliaojigou.png">医疗机构</a></li>
            <li><a (click)="showContent(8)"><img src="/assets/home/shujukaifang.png">数据开放</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/#/about" class="nav-link" routerLinkActive="active">
            关于
          </a>
        </li>
      </ul>

      <div class="status-area">
        <div *ngIf="!authenticated">
          <a class="color-white" href="/#/login">登录</a>
          <a class="color-white" href="/#/register">注册 </a>
        </div>
        <div *ngIf="authenticated">
          <span style="color: white;padding-right: 10px">欢迎您： {{userName}}</span>
          <a class="color-white" href="/" (click)="logout()">退出 </a>
        </div>
      </div>
    </div>
  </div>

  <div class="data-content">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div style="width: 100%;">
            <div class="panel-group" id="accordion2">
              <div class="panel-heading">
                <strong style="font-size: 24px; color: #666">区域统计图</strong>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  <a class="accordion-toggle">主题</a>
                </div>
                <div id="collapseTwo" class="panel-collapse in" style="height: auto;">
                  <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                      <li [ngStyle]="getStyle(flag01)" (click)="showContent(1)"><a><img src="/assets/home/yuebao.png">月报</a>
                      </li>
                      <li [ngStyle]="getStyle(flag02)" (click)="showContent(2)"><a><img src="/assets/home/gongbao.png">公报</a>
                      </li>
                      <li [ngStyle]="getStyle(flag03)" (click)="showContent(3)"><a><img src="/assets/home/jibao.png">季报</a>
                      </li>
                      <li [ngStyle]="getStyle(flag04)" (click)="showContent(4)"><a><img src="/assets/home/nianbao.png">年报</a>
                      </li>
                      <li [ngStyle]="getStyle(flag05)" (click)="showContent(5)"><a><img
                        src="/assets/home/nianjian.png">统计年鉴</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-9">
          <div class="find-want">
            <p>看不到你要找的东西？</p>
            <p>
              <button class="btn btn-primary">添加反馈</button>
            </p>
          </div>

          <div *ngIf="flag01" class="view-cont">
            <app-show-pie></app-show-pie>
          </div>

          <div *ngIf="flag02" class="view-cont">
            <app-show-line></app-show-line>
          </div>

          <div *ngIf="flag03" class="view-cont">
            <app-show-bar></app-show-bar>
          </div>

          <div *ngIf="flag04" class="view-cont">
            <app-show-chart></app-show-chart>
          </div>

          <div *ngIf="flag05" class="view-cont">
            <app-show-echart></app-show-echart>
          </div>

        </div>


      </div>
    </div>

  </div>

  <div style="height: 60px"></div>
</div>


<app-layout-footer></app-layout-footer>
