
.main-content{
  background: #fff;
}

.topbar {
  height: 50px;
  background: #131418;
  margin-bottom: 20px;
}
.nav-region {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  .logo {
    height: 24px;
    width: 28px;
    float: left;
    margin-top: 14px;
    margin-left: -50px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("/assets/images/logo.png") no-repeat;
    }
  }
  .title-style {
    float: left;
    height: 50px;
    width: 220px;
    margin-left: -16px;
    h3 {
      font-size:18px;
      font-weight: normal;
      line-height: 12px;
      color: #fff;
    }
  }
}



.data-content{
  width: 1000px;
  margin: 0 auto;
}

.data-content{
  h1{
    color: #666666;
    font-weight: bold;
    font-size: 28px;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
  }

  .title-cont{
    font-size: 22px;
    font-weight: normal;
    color: #bbb;
    line-height: 32px;
  }
  .title-small{
    font-size: 20px;
  }
  p{
    font-size: 16px;
    line-height: 32px;
  }
}


.btn-default{
  margin-left: 0;
  width: 80px;
  height: 22px;
  line-height: 8px;
  font-size: 12px;
}

.btn-apply{
  width: 100%;
  height:40px;
  line-height: 32px;
  color: #ffffff;
  font-size:16px;
  margin: 10px auto 0;
  letter-spacing: 5px;
  background: #d6290e;
  border: none;
  font-weight: normal;
}


.panel-default {
  .panel-heading{
    background: #0A77BD;
    a{
      color: #fff;
    }
  }
  .panel-body{
    padding: 0;
    .nav-stacked{
      li{
        border:1px solid #ccc;
      }
      img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}

.find-want{
  margin:62px 0 20px 0;
  border-bottom: 2px solid #ccc;
  p{
    text-align: center;
    line-height: 40px;
  }
}
.view-cont{
  margin-top: 30px;
}

.buy{
  width: 100%;
  height: 80px;
  border:1px solid #e8241a;
  margin-top: 20px;
}
