<app-header></app-header>

<div class="container-fluid data-content">

  <div class="platform">
    <h2>
      <img src="/assets/images/globe.png" alt="">
      平台导航
    </h2>
  </div>
  <div class="row home-content">
    <div class="col-lg-1 col-md-3 col-sm-3"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 list-left">
      <a (click)="gotoApply()" class="structuring">
        <img src="/assets/images/structuring.png" alt="结构化">
        <h3>结构化医疗信息</h3>
        <p>每日新增数据1000+ 条</p>
      </a>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 list-left">
      <a href="/#/medical-image" class="medical">
        <img src="/assets/images/medical.png" alt="医疗影像">
        <h3>医疗影像</h3>
        <p>个人影像记录1000+ 条</p>
      </a>
    </div>
  </div>

</div>

<app-footer></app-footer>

