.data-content{
  height:1000px;
}

.platform{
  width: 100%;
  margin: 40px auto 0;
  h2{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
  }
}

.home-content{
  margin-top: 3%;
}
.list-left{
  border:3px solid #1B6A92;
  border-radius:5px;
  height:400px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-left: 3%;
  img{
    margin-top: 7%;
  }
  h3,p{
    text-align: center;
  }
  h3{
    color:#226AB8;
    font-size: 32px;
    padding:20px 0 ;
  }
  p{
    color:#999;
    font-size: 18px;
  }
  a:hover{
    text-decoration: none;
    cursor: pointer;
  }
}


