
<app-layout-header></app-layout-header>


<div class="main-content">
  <div class="topbar">
    <div class="nav-region">
      <app-nav-bar></app-nav-bar>
    </div>
  </div>

  <div class="data-content">

    <div class="adhibition">
      <h5>惠民</h5>
      <div class="hospital">
        <div class="scale">
          <h6>精准医疗</h6>
          <a href="http://www.brbiotech.com/">
          <dl>
            <dt><img src="/assets/images/ranshi.png" alt=""></dt>
            <dd>
              <h4>燃石医学</h4>
              <p class="content">
                燃石医学专注于肿瘤患者个体化治疗指导，以二代测序及医学生物信息学为核心，常规肿瘤分子病理检测为基石，致力于打造肿瘤个体化治疗临
床检测服务及科研一站式解决方案              </p>
            </dd>
          </dl>
          </a>
        </div>
        <div class="scale">
          <h6>科研创新</h6>
          <a href="https://skymind.ai/">
          <dl>
            <dt><img src="/assets/images/keyan.png" alt=""></dt>
            <dd>
              <h4>Skymind</h4>
              <p class="content">
                燃石医学专注于肿瘤患者个体化治疗指导，以二代测序及医学生物信息学为核心，常规肿瘤分子病理检测为基石，致力于打造肿瘤个体化治疗临床检测服务及科研一站式解决方案</p>
            </dd>
          </dl>
          </a>
        </div>
        <div class="scale">
          <h6>健康管理</h6>
          <a href="https://www.philips.com.cn/">
          <dl>
            <dt><img src="/assets/images/guanli.png" alt=""></dt>
            <dd>
              <h4>Philips</h4>
              <p class="content">
                燃石医学专注于肿瘤患者个体化治疗指导，以二代测序及医学生物信息学为核心，常规肿瘤分子病理检测为基石，致力于打造肿瘤个体化治疗临床检测服务及科研一站式解决方案              </p>
            </dd>
          </dl>
          </a>
        </div>
      </div>

    </div>

  </div>

  <div style="height: 60px"></div>
</div>


<app-layout-footer></app-layout-footer>


