
.main-content{
  background: #fff;
}

.topbar {
  height: 50px;
  background: #131418;
  margin-bottom: 20px;
}
.nav-region {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  .logo {
    height: 24px;
    width: 28px;
    float: left;
    margin-top: 14px;
    margin-left: -50px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("/assets/images/logo.png") no-repeat;
    }
  }
  .title-style {
    float: left;
    height: 50px;
    width: 220px;
    margin-left: -16px;
    h3 {
      font-size:18px;
      font-weight: normal;
      line-height: 12px;
      color: #fff;
    }
  }
}



.data-content{
  width: 1000px;
  margin: 0 auto;
}
.recommend{
  width: 100%;
  height: 240px;
  border: 1px solid #8ea3b4;
  margin-top: 20px;
  border-radius: 6px;
  .boutique{
    width: 100%;
    height: 40px;
    margin-top: -10px;
    background: url("/assets/images/background-jing.png") no-repeat;
    h5{
      padding-left: 20px;
      line-height:40px;
      font-weight: bold;
      img{
        padding-right: 10px;
      }
    }
  }
  .jingpin{
    display: flex;
    padding-top: 10px;
    dt{
      width: 300px;
      height: 182px;
      float: left;
      padding: 10px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    dd{
      -webkit-box-flex: 1;
      float: left;
      padding:0 10px;
      h4{
        font-size: 24px;
        color: #1170c2;
        line-height: 32px;
      }
      p{
        line-height: 22px;
        color: #666;
        height: 90px;
      }
      b{
        color:red;
        font-size: 18px;
      }
    }
  }
}

.adhibition{
  height: 380px;
  .more{
    background-image: none;
    position: relative;
    border-bottom: 1px solid #8ea3b4;
    background: #f2f5f8;
    span{
      position:absolute;
      right:10px;
      top:10px;
      font-weight: bold;
    }
  }
  .hospital{
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 20px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    dl{
      width: 32%;
      float: left;
      margin-left:1%;
      margin-right: 1%;
      dt{
        width: 100%;
        height: 220px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      dd{
        height: 76px;
        background: #f6f6f6;
        line-height: 10px;
        text-align: center;
        padding-top: 6px;
        h4{
          font-size: 16px;
          font-weight: bold;
          color: #1170c2;
        }
        b{
          color: red;
        }
      }
    }
  }
}
