
<app-layout-header></app-layout-header>


<div class="main-content">
  <div class="topbar">
    <div class="nav-region">
      <app-nav-bar [type]="2"></app-nav-bar>
    </div>
  </div>

  <div class="data-content">
    <h1>儿童出生医学信息</h1>
    <ul class="data-desc">
      <li><b>描述： </b><small>描述医生访问的表</small></li>
      <li><b>创建时间： </b><small>2017-11-13 00:00:00 AM</small></li>
      <li><b>记录： </b><small>1</small></li>
      <li><b>作者： </b><small></small></li>
    </ul>
    <div *ngIf="showTable" class="table-list">
      <ng2-smart-table *ngIf="dimoTypes.length !== 0"
                       [settings]="settings" [source]="dimoTypes">
      </ng2-smart-table>
    </div>
    <div *ngIf="!showTable">
      正在加载，请稍后...
    </div>
  </div>

  <div style="height: 60px"></div>
</div>


<app-layout-footer></app-layout-footer>
