 <app-header></app-header>

   <div class="container-fluid data-content">
     <div class="row home-content">
       <div class="col-lg-4 col-md-4 col-sm-4 list-left">
        轮播图
         六大服务板块
         入驻公司


         首页开发中········
         <div class="put-apply">
           <button id="btn-apply" type="button" class="btn btn-primary btn-apply" (click)="gotoStructuring()">申请</button>
         </div>
       </div>

       <div class="col-lg-7 col-md-7 col-sm-7 list-left list-right">
         未开发的首页
       </div>
     </div>

   </div>

  <app-footer></app-footer>




