.platform-nav{
  margin-top: -10px;
  width: 100%;
  height: 44px;
  background: #f5f5f5;

  h5{
    line-height: 44px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: normal;
  }
}
.data-content{
  width: 100%;
  height:1030px;
  border-top:2px solid #B0C6D7;
}
.home-content{
  width: 100%;
}

.list-left{
  float: left;
  border-right:1px solid #B0C6D7;
  background: #fff;
  width: 30%;
  height:1030px;
  h3{
    margin: 0;
    height: 44px;
    line-height: 44px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: normal;
    background: #E8F5FF;
    border-bottom: 1px solid #B0C6D7;
  }
}

.list-right{
  float: left;
  width: 70%;
  background: #E8F5FF;
  .schedule{
    border: 2px solid #B0C6D7;
    width: 96%;
    height: 96%;
    margin: 2%;
    background:#fff;
  }
  h4{
    margin: 0;
    height: 44px;
    line-height: 44px;
    padding-left: 2%;
    font-size: 14px;
    font-weight: normal;
    background: #E8F5FF;
    border-bottom: 1px solid #b0c6d7;
  }
  .link-message{
    width:100%;
    height: 100px;
    border-bottom :1px solid #ccc;
     p{
       float: left;
       width: 20%;
       padding: 30px 0 0 20px;
       font-size: 15px;
       span{
         font-size: 12px;
       }
     }
    ul{
      float: left;
      width: 80%;
      list-style: none;
      li{
        float: left;
        line-height: 100px;
        padding-right: 10px;
        label{
          font-weight: normal;
        }
      }
    }
  }

  .detail{
    border:none;
    p{
      height: 300px;
      width: 30%;
      padding: 5% 0 0 2%;
      line-height: 80px;
      span{
        padding-top: 30px;
      }
    }
    ul{
      float: left;
      width: 50%;
      list-style: none;
      border-left:1px solid #ccc;
      margin-top: 40px;
      li{
        line-height: 30px;
      }
    }
  }
}
.put-apply{
  margin-top: 20px;
  margin-left: 2%;
}

.btn-apply{
  width: 140px;
  height:40px;
  letter-spacing: 5px;
  background: #4A90E2;
  border: none;
}
