<app-header></app-header>

<div class="container-fluid data-content">
  <div class="row home-content">
    <div class="col-lg-4 col-md-4 col-sm-4 list-left">
      <div class="data-lists">
        <h5>健康档案</h5>
        <ul class="data-list">
          <li class="list-li">申请1</li>
          <li class="list-li">申请2</li>
          <li class="list-li">申请3</li>
        </ul>
      </div>

      <div class="data-lists">
        <h5>医学影像</h5>
        <ul class="data-list">
          <li class="list-li">申请1</li>
          <li class="list-li">申请2</li>
          <li class="list-li">申请3</li>
        </ul>
      </div>

    </div>

    <div class="col-lg-7 col-md-7 col-sm-7 list-left list-right">
      <div class="basic_show">
        <ul>
          <li class="active">审核进度<em></em></li>
          <li>审核详情<em></em></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
