.data-content{
  margin: 40px;
}
.home-content{
  margin-left: 3%;
}
.list-left{
  border:1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  border-radius:3px;
  height:500px;
}
.list-right{
  margin-left:4%;
}

.data-lists{

}

.basic_show {
  width: 650px;
  height: 30px;
  margin: 20px 0;
  ul {
    width: 650px;
    margin-left: 40px;
  }
  li {
    position: relative;
    list-style: none;
    float: left;
    width: 120px;
    height: 32px;
    background: #ccc;
    margin-right: 20px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    em {
      position: absolute;
      top: 0;
      right: -31px;
      border: 16px solid transparent;
      border-left: 16px solid #ccc;
    }
  }
  .active {
    background: #55C8EA;
    em {
      border: 16px solid transparent;
      border-left: 16px solid #55C8EA;
    }
  }
}
