.platform-nav{
  margin-top: -10px;
  width: 100%;
  height: 44px;
  background: #f5f5f5;
  border-bottom:2px solid #B0C6D7;
  h5{
    line-height: 44px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: normal;
  }
}
.data-content {
  background: #E8F5FF;
}

.choose-content{
  width: 80%;
  margin: 0 auto;
  h3{
    font-size: 15px;
    line-height: 40px;
  }
  .data-source{
    border:1px solid #AFC6D6;
    border-radius:3px;
    background: #fff;
    height:450px;
    overflow: hidden;
    .source-list {
      padding: 0;
      list-style: none;
      line-height: 36px;
      color: #397cd5;
      height: 40px;
    }
  }
}

.form-group{
  height:40px;
}
.form-control-label{
  text-align:right;
}

.put-apply{
  margin: 20px 0 20px 45%;
}
.btn-apply{
  width: 140px;
  height:40px;
  letter-spacing: 5px;
  background: #4A90E2;
  border: none;
}
.btn-preview{
  width: 100%;
}

input{margin: 0;width: 0;}
.nav{margin-left: -1px;font: 14px "微软雅黑";overflow: hidden;}
.navI{float: left;width: 13%;box-sizing: border-box;}
.navI-tit{display:block;line-height: 40px;text-align: center;cursor: pointer;border-right: 1px solid #AFC6D6;border-bottom: 1px solid #cecece;color: #226AB8;}
.navI-txt{position:relative;width: 800px;height:360px;margin-top:20px;line-height: 2;background:#fff;}
.ml1{margin-left: -100%;}
.ml2{margin-left: -200%;}
/*重点代码*/
.navI-radio{display:none;}
.navI-radio:checked + .navI-tit{background:#fff;border-bottom:none; color: #333}
.navI-radio:checked ~ .navI-txt{z-index:1;}

.data-preview{
  width:90%;
  margin-left: 5%;
  border:1px solid #ccc;
  h5{
    background: #d5e6f1;
    color: #666;
    line-height: 36px;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 2px solid #9fcae0;
    margin: 0;
    padding-left: 10px;
  }
}
.table-data{
  width:100%;
  th,td{
    float: left;
    line-height:36px;
    width:14.28%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
}
.table-header{
  color: #333;
  border-bottom: 2px solid #d5e6f1 ;
}
.table-cont {
  border-bottom: 1px solid #d5e6f1;

  td{
    &:hover{
      cursor: pointer;
    }
  }
}
.data-traget{
  border: 1px solid #AFC6D6;
  height: 70px;
  background: #fff;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      float: left;
      width: 15%;
      text-align: center;
      line-height: 70px;
      input{
        width: 13px;
        height:13px;
      }
      label{
        font-size: 12px;
        font-weight:normal;
        padding-left: 5px;
      }
    }
  }
}
